stages:
  - build
  - production

build:
  stage: build
  image: node:10.16.0
  script: 
    - echo "Start building App"
    - npm install
    - npm build
    - echo "Build successfully!"
  artifacts:
    expire_in: 1 hour
    paths:
      - build
      - node_modules/

production:
  type: deploy
  stage: production
  image: ruby:latest
  script:
      - dpl --provider=heroku --app=godobet-dashboard --api-key=$HEROKU_API_KEY