# stages:
#   - push_image

# services:
# - docker:dind

# push_image:
#   stage: push_image
#   image: docker:stable
#   services:
#   - docker:dind
#   script:
#     # - docker login registry.e2n.me -u $USERNAME -p $PASSWORD
#     - docker build . -t registry.e2n.me/godobet-dashboard:$CI_COMMIT_SHORT_SHA
#     - docker push registry.e2n.me/godobet-dashboard:$CI_COMMIT_SHORT_SHA