version: "3"

services:
  portainer:
    image: "registry.e2n.me/godobet-dashboard:latest"
    restart: unless-stopped
    environment:
      - VIRTUAL_HOST=dashboard.godobet.it
      - LETSENCRYPT_HOST=dashboard.godobet.it
      - LETSENCRYPT_EMAIL=enisinanaj@outlook.com
      - LETSENCRYPT_ENABLED=1
    networks:
      - tier_1

networks:
  tier_1:
    external:
      name: network_tier_1
