.absolute-div {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 99;
  bottom: 3%;
  right: 1%;
}

.absolute-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: #000;
  color: white;
  font-size: 30px;
  opacity: 0.7;
  transition: 0.3s ease;
}

.absolute-btn:hover {
  opacity: 1;
}

.crea-tip-text {
  margin: 0;
  margin-right: 10px;
  transform: translateX(72px);
  opacity: 0;
  transition: 0.4s ease;
}

.crea-tip-text.hover {
  opacity: 1;
  transform: translateX(0);
  transition: 0.4s ease;
}
