.absolute-div {
  position: fixed;
  display: flex;

  flex-direction: column;
  align-items: center;
  z-index: 99;
  bottom: 3%;
  right: 1%;
}

.absolute-btn {
  margin-top: 5px;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: #4680ff;
  color: white;
  font-size: 30px;
  opacity: 0.7;
  transition: 0.3s ease;
}

.absolute-btn:hover {
  opacity: 1;
}

.create-service-btn {
  background-color: rgba(46, 46, 46, 0.679);
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  transform: scale(0);
  transition: transform 400ms ease 100ms;
}

.create-tip-btn {
  background-color: rgb(46, 46, 46);
  opacity: 0.7;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  transform: scale(0);
  transition: transform 400ms ease 0ms;
  transition: 0.3s ease;
}

.create-tip-btn.active {
  transform: scale(1);
  transition: transform 400ms ease 0ms;
}

.create-service-btn.active {
  transform: scale(1);
  transition: transform 400ms ease 100ms;
}

.create-service-btn:hover {
  transform: scale(0.96);
}

.create-tip-btn:hover {
  transform: scale(0.96);
}
